<script>
    import Countdown from "svelte-countdown";
    import { goto } from "@sveltech/routify";
    import moment from "moment";
    import transaksi from "../../api/master/transaksi";
    import apiBank from "../../api/master/bank";
    import {
        listTiket,
        selectBus,
        selectKursi,
        selectJamTrayek,
        tglTiket,
        jmlPenumpang,
        selectBank,
        pulangPergi,
        totalHarga,
        dataDiri,
        nomorVa,
        idTransaksi
    } from "../../store/ticket";
    import { store, userData } from "../../store/auth";
    import idLocale from "moment/locale/id";
    import Swal from "sweetalert2";
    import { onMount } from "svelte";

    moment.locale("id", idLocale);

    let total;
    let bank = "";
    let listBank = [];

    onMount(async () => {
        let resp = await apiBank.listBank($store.token.data);
        listBank = resp.data.data;
    });

    console.log($userData);

    if ($pulangPergi) {
        total = $listTiket[0].harga * 2 * $selectKursi.length;
    } else {
        total = $listTiket[0].harga * $selectKursi.length;
    }

    let data = {
        id_member: $userData.id_member,
        id_pobus: $selectBus.id_pobus,
        id_jamtrayek: $selectJamTrayek.id,
        id_bus: $selectBus.id,
        id_bank: 1, //id_bank
        qty: $selectKursi.length,
        total: total,
        status: 0,
        nama: $userData.name,
        no_telp: $userData.telpon,
        penumpang: [],
    };

    for (let i = 0; i < $selectKursi.length; i++) {
        const elKursi = $selectKursi[i];
        const elDiri = $dataDiri[i];
        data.penumpang.push({
            id_kursi: elKursi.id,
            nama: elDiri.nama,
            no_telp: elDiri.telp,
            harga: total,
            status: 0,
            tgl_beli: moment().format("YYYY-MM-DD HH:mm"),
            tgl_brgkt: moment(
                `${$tglTiket} ${$selectJamTrayek.jam_berangkat}`
            ).format("YYYY-MM-DD HH:mm"),
        });
    }

    let date = new Date();
    let time = moment(date).add(5, "m").toDate();

    function lanjutkan() {
        $goto("/konfirmasi-pesanan");
    }
    async function lanjutkanb() {
        if (bank == "") {
            Swal.fire("Silahkan Pilih Bank !", "", "error");
        } else {
            console.log(data, "data");
            let resp = await transaksi.transCust($store.token.data, data);
            console.log('konfirmasi pesan',resp);
            $totalHarga = total;
            $nomorVa = resp.data.data.no_va;
            $idTransaksi = resp.data.data.id_transcust;
            $goto("/pembayaran");
        }
    }
    function formatRupiah(num) {
        if (num !== undefined) {
            let NumberFormat = num
                .toString()
                .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            return "Rp " + NumberFormat;
        }
        return "Rp 0";
    }

    function onChangeRadio(e) {
        bank = e.target.value;
    }
</script>

<style>
    .container-fluid {
        background-color: #f3f3f3;
        background-image: url("/assets/images/halte.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 1000px;
        height: 88.5vh;
    }
    .container-child {
        margin-top: auto;
        margin-bottom: auto;
    }
    .inline {
        display: flex;
        justify-content: space-between;
    }
    .title-rincian-biaya {
        font-weight: 700;
        font-size: 16px;
        color: #404040;
    }
    .total-rincian-biaya {
        font-weight: 700;
        font-size: 16px;
        color: #fdb827;
    }
    .list-detail-biaya {
        padding: 10px;
    }
    .item-tiket {
        padding: 5px;
    }
    .container-bank {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;
    }
</style>

<slot scoped={{ bank: bank }} />

<div class="container-fluid p-4">
    <div class="container-child">
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-4">
                <p style="color:#404040;font-weight: bold">Invoice</p>
                <div class="card">
                    <div class="card-body">
                        <div class="inline">
                            <p style="font-weight:700">Nama:</p>
                            <p>{$userData?.name}</p>
                        </div>
                        <div class="inline">
                            <p style="font-weight:700">Tujuan:</p>
                            <p>
                                {$listTiket[0]?.id_kota_asal.nm_kota}
                                -
                                {$listTiket[0]?.id_kota_tujuan.nm_kota}
                            </p>
                        </div>
                        <div class="inline">
                            <p style="font-weight:700">Tanggal Berangkat :</p>
                            <p>
                                {moment($tglTiket)
                                    .locale('de')
                                    .format('dddd, DD MMMM yyyy')}
                            </p>
                        </div>
                        <div class="inline">
                            <p style="font-weight:700">Jam Keberangkatan:</p>
                            <p>
                                {$selectJamTrayek?.jam_berangkat}
                                -
                                {$selectJamTrayek?.jam_sampai}
                            </p>
                        </div>
                        <div class="inline">
                            <p style="font-weight:700">Nomor Kursi:</p>
                            <p>
                                {#each $selectKursi as item}
                                    {item.kd_kursi + ' '}
                                {/each}
                            </p>
                        </div>
                    </div>
                </div>

                <p style="color:#404040;font-weight:700">Rincian Biaya</p>
                <div class="card">
                    <div class="card-body">
                        <div
                            style="padding:10px;border-bottom: 1px solid #d8d8d8;"
                            class="row justify-content-between">
                            <span class="title-rincian-biaya">Total : </span>
                            <span
                                class="total-rincian-biaya">{formatRupiah(total)}</span>
                        </div>
                        <div class="list-detail-biaya">
                            {#if $pulangPergi}
                                {#each Array(2) as item, i}
                                    {#if i == 1}
                                        <!-- content here -->
                                        <div
                                            class="item-tiket row justify-content-between">
                                            <span>Tiket
                                                {$listTiket[0].id_kota_tujuan.nm_kota}
                                                -
                                                {$listTiket[0].id_kota_asal.nm_kota}
                                                x{$selectKursi.length}</span>
                                            <span>{formatRupiah($listTiket[0].harga * $selectKursi.length)}</span>
                                        </div>
                                    {:else}
                                        <div
                                            class="item-tiket row justify-content-between">
                                            <span>Tiket
                                                {$listTiket[0].id_kota_asal.nm_kota}
                                                -
                                                {$listTiket[0].id_kota_tujuan.nm_kota}
                                                x{$selectKursi.length}</span>
                                            <span>{formatRupiah($listTiket[0].harga * $selectKursi.length)}</span>
                                        </div>
                                    {/if}
                                {/each}
                            {:else}
                                <div
                                    class="item-tiket row justify-content-between">
                                    <span>Tiket
                                        {$listTiket[0].id_kota_asal.nm_kota}
                                        -
                                        {$listTiket[0].id_kota_tujuan.nm_kota}
                                        x{$selectKursi.length}</span>
                                    <span>{formatRupiah($listTiket[0].harga * $selectKursi.length)}</span>
                                </div>
                            {/if}
                        </div>
                    </div>
                </div>
                <p style="color:#404040;font-weight:700">Pilih Bank Tujuan</p>
                <form action="">
                    <div class="card">
                        <div class="card-body">
                            {#each listBank as item}
                                <div class="container-bank">
                                    <div class="item-bank">
                                        <img
                                            height="50"
                                            src="/assets/images/logo-bri.png"
                                            alt="bri" />
                                        <span
                                            style="padding-left: 15px;font-size: 16px;font-weight:500">
                                            {item.nm_bank}
                                        </span>
                                    </div>
                                    <div class="checkbox-bank">
                                        <input
                                            type="radio"
                                            name="bank"
                                            value={item.id}
                                            on:change={onChangeRadio} />
                                    </div>
                                </div>
                            {/each}

                            <!-- <div class="container-bank">
                                <div class="item-bank">
                                    <img
                                        height="30"
                                        src="/assets/images/logo-bni.png"
                                        alt="bni" />
                                    <span
                                        style="padding-left: 15px;font-size: 16px;font-weight:500">
                                        BNI Virtual Account
                                    </span>
                                </div>
                                <div class="checkbox-bank">
                                    <input
                                        type="radio"
                                        name="bank"
                                        value="bni"
                                        on:change={onChangeRadio} />
                                </div>
                            </div> -->
                        </div>
                    </div>
                </form>
                <div class="form-group row justify-content-end">
                    <!-- <button
                        on:click={() => lanjutkan()}
                        class="btn btn-success">
                        Cek Status Pembayaran
                    </button> -->
                    <button
                        on:click={() => lanjutkanb()}
                        class="btn btn-success">
                        Lanjutkan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
