<script>
    import { goto, url } from "@sveltech/routify";
    import { firebaseConfig } from "../../constants/config";
    import auth from "../../api/auth";
    import { validateLogin } from "../../helper/validation";
    import { store } from "../../store/auth";
    import Swal from "sweetalert2";
    import { selectBus } from "../../store/ticket";
    import { onMount } from "svelte";
    import firebase from "firebase/app";
    import "firebase/auth";

    let email, password;

    onMount(() => {
        if (!firebase.apps.length) {
            firebase.initializeApp(firebaseConfig);
        }
    });

    function register() {
        $goto("/register");
    }

    async function login() {
        let data = { email, password };
        const validation = validateLogin(data);
        if (validation != true) {
            Swal.fire(validation, "Silahkan Cek Form Anda !", "error");
        } else {
            console.log("data", { email, password });
            firebase
                .auth()
                .signInWithEmailAndPassword(email, password)
                .then(async (user) => {
                    const resp = await auth.loginMember({
                        email: email,
                        uid: user.user.uid,
                    });
                    if (resp.data.error > 0) {
                        Swal.fire(
                            "Error Login",
                            "Silahkan Hubungi Admin!",
                            "error"
                        );
                    } else {
                        Swal.fire({
                            title: "Sukses Login",
                            icon: "success",
                            confirmButtonText: `Ok`,
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $store = { token: resp.data };
                                if ($selectBus != null) {
                                    $goto("/data-diri");
                                } else {
                                    $goto("/pesan-tiket");
                                }
                            }
                        });
                    }
                })
                .catch((error) => {
                    console.log(error);
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    Swal.fire("Error Login", `${errorMessage}`, "error");
                });
        }
    }
</script>

<style>
    .container-fluid {
        background: #f3f3f3 url("/assets/images/bg.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
    @media only screen and (max-width: 1000px) {
        .center-form {
            display: flex;
            justify-content: center;
            align-items: start;
            margin-left: 0 !important;
            flex-direction: column;
            height: 91.5vh;
        }
    }
    @media only screen and (min-width: 1024px) {
        .center-form {
            display: flex;
            justify-content: center;
            align-items: start;
            margin-left: 100px;
            flex-direction: column;
            height: 91.5vh;
        }
    }
    .btn-danger {
        background: #e61206;
    }
    .lupa-password {
        color: #565656;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .lupa-password:hover {
        color: royalblue;
        transition: color 0.25s ease-out;
        -webkit-transition: color 0.25s ease-out;
        -moz-transition: color 0.25s ease-out;
        -o-transition: color 0.25s ease-out;
    }
</style>

<div class="container-fluid">
    <div class="center-form">
        <div class="col-md-6 col-lg-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <p class="text-center font-weight-bold">
                        Harap Login untuk melanjutkan !
                    </p>
                    <div class="form-group">
                        <input
                            bind:value={email}
                            class="form-control"
                            type="text"
                            placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input
                            bind:value={password}
                            class="form-control"
                            type="password"
                            placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <a class="lupa-password" href={$url('/reset-password')}>Lupa Password ?</a>
                    </div>
                    <div class="form-group">
                        <button
                            class="btn btn-danger form-control"
                            on:click={() => login()}>
                            Masuk</button>
                    </div>
                    <p>Belum punya akun ?</p>
                    <div class="form-group">
                        <button
                            class="btn btn-outline-danger form-control"
                            on:click={() => register()}>
                            Daftar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
