<script>
    import member from "../../api/master/member";
    import Swal from "sweetalert2";
    import { validateRegister } from "../../helper/validation";
    import { goto } from "@sveltech/routify";

    let data = {
        nm_member: "",
        pass_user: "",
        cpass_user: "",
        email_user: "",
        telp_user: "",
        addr_member: "",
        pin: "2431!",
    };
    let isShowPass = false;
    let isShowConfirmPass = false;

    async function register() {
        const validation = validateRegister(data);
        if (validation != true) {
            Swal.fire(validation, "Silahkan Cek Form Anda !", "error");
        } else {
            const resp = await member.registerMember("", data);
            if (resp.data.error > 0) {
                Swal.fire(
                    "Gagal Mendaftar",
                    " Cek Koneksi Internet dan Silahkan Ulangi",
                    "error"
                );
            } else {
                Swal.fire("Sukses Register", "", "success");
                $goto("/login");
            }
        }
    }

    function showPass() {
        isShowPass = !isShowPass;
    }
    function showConfirmPass() {
        isShowConfirmPass = !isShowConfirmPass;
    }
</script>

<style>
    .container-fluid {
        background: #f3f3f3 url("/assets/images/bg.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
    @media only screen and (max-width: 1000px) {
        .center-form {
            display: flex;
            justify-content: center;
            align-items: start;
            margin-left: 0 !important;
            flex-direction: column;
            height: 91.5vh;
        }
    }
    @media only screen and (min-width: 1024px) {
        .center-form {
            display: flex;
            justify-content: center;
            align-items: start;
            margin-left: 100px;
            flex-direction: column;
            height: 91.5vh;
        }
    }
    .btn-danger {
        background: #e61206;
    }
    input[type="password"] {
        font: small-caption;
        font-size: 16px;
    }
</style>

<div class="container-fluid">
    <div class="center-form">
        <div class="col-md-6 col-lg-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <form
                        action="#"
                        on:submit|preventDefault={() => register()}>
                        <p>Isi Form dengan benar !</p>
                        <div class="form-group">
                            <input
                                bind:value={data.nm_member}
                                class="form-control"
                                type="text"
                                placeholder="Nama Lengkap" />
                        </div>
                        <div class="form-group">
                            <input
                                bind:value={data.email_user}
                                class="form-control"
                                type="text"
                                placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                {#if isShowPass}
                                    <input
                                        bind:value={data.pass_user}
                                        class="form-control"
                                        type="text"
                                        placeholder="Password" />
                                    <div class="input-group-append">
                                        <button
                                            on:click={() => showPass()}
                                            class="input-group-text">
                                            <i class="fa fa-eye" />
                                        </button>
                                    </div>
                                {:else}
                                    <input
                                        bind:value={data.pass_user}
                                        class="form-control"
                                        type="password"
                                        placeholder="Password" />
                                    <div class="input-group-append">
                                        <button
                                            on:click={() => showPass()}
                                            class="input-group-text">
                                            <i class="fa fa-eye-slash" />
                                        </button>
                                    </div>
                                {/if}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                {#if isShowConfirmPass}
                                    <input
                                        bind:value={data.cpass_user}
                                        class="form-control"
                                        type="text"
                                        placeholder="Konfirmasi Password" />
                                    <div class="input-group-append">
                                        <button
                                            on:click={() => showConfirmPass()}
                                            class="input-group-text">
                                            <i class="fa fa-eye" />
                                        </button>
                                    </div>
                                {:else}
                                    <input
                                        bind:value={data.cpass_user}
                                        class="form-control"
                                        type="password"
                                        placeholder="Konfirmasi Password" />
                                    <div class="input-group-append">
                                        <button
                                            on:click={() => showConfirmPass()}
                                            class="input-group-text">
                                            <i class="fa fa-eye-slash" />
                                        </button>
                                    </div>
                                {/if}
                            </div>
                        </div>
                        <div class="form-group">
                            <input
                                bind:value={data.telp_user}
                                class="form-control"
                                type="text"
                                placeholder="No. Telp" />
                        </div>
                        <div class="form-group">
                            <textarea
                                bind:value={data.addr_member}
                                class="form-control"
                                type="text"
                                placeholder="Alamat Lengkap" />
                        </div>
                        <div class="form-group">
                            <input
                                type="submit"
                                value="Daftar"
                                class="btn btn-danger form-control" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
