<script>
    import { goto, url } from "@sveltech/routify";
    import { firebaseConfig } from "../../constants/config";
    import member from "../../api/master/member";
    import { validateLogin } from "../../helper/validation";
    import { store, userData } from "../../store/auth";
    import Swal from "sweetalert2";
    import { selectBus } from "../../store/ticket";
    import { onMount } from "svelte";
    import firebase from "firebase/app";
    import "firebase/auth";

    let name = $userData.name, 
        email = $userData.email, 
        telp = $userData.telpon ;

        
    onMount(() => {
        console.log($userData);
        if (!firebase.apps.length) {
            firebase.initializeApp(firebaseConfig);
        }
    });

    function validate(data){
        console.log(data);
        if (data.name == '') {
            return 'Silahkan isi kolom nama!';
        }
        if(data.email == ''){
            return 'Silahkan isi kolom email!';
        }
        if(data.telp == ''){
            return 'Silahkan isi kolom no telepon!';
        }
        return true;
    } 

    async function update() {
        let data = {nm_member:name,email_user:email,telp_user:telp};
        const validation = validate(data);
        if (validation != true) {
            Swal.fire(validation, "Silahkan Cek Form Anda !", "error");
        } else {
            let resp = await member.updateProfil($store.token.data,data,$userData.id_member);
            console.log(resp);
            if (resp.data.error > 0) {
                Swal.fire(
                    "Error Update Profil",
                    "Silahkan Hubungi Admin!",
                    "error"
                );
            }else{
                Swal.fire({
                    title: "Sukses Update Profil",
                    icon: "success",
                    confirmButtonText: `Ok`,
                    allowOutsideClick: false,
                }).then((result) => {
                    if (result.isConfirmed) {
                        $goto("/pesan-tiket");
                    }
                });
            }
        }
    }
</script>

<style>
    .container-fluid {
        background: #f3f3f3;
    }
    .center-form{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 91.5vh;
    }
    .btn-danger {
        background: #e61206;
    }
</style>

<div class="container-fluid">
    <div class="center-form">
        <div class="col-md-6 col-lg-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <p class="text-center font-weight-bold">
                        Update profil data !
                    </p>
                    <div class="form-group">
                        <input
                            bind:value={name}
                            class="form-control"
                            type="text"
                            placeholder="Nama" />
                    </div>
                    <div class="form-group">
                        <input
                            bind:value={email}
                            class="form-control"
                            type="text"
                            placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input
                            bind:value={telp}
                            class="form-control"
                            type="telp"
                            placeholder="No Telp" />
                    </div>
                    <div class="form-group">
                        <button
                            class="btn btn-danger form-control"
                            on:click={() => update()}>
                            Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
