<script>
    import { onMount } from "svelte";

    import transaksi from "../../../api/master/transaksi";
    import { store } from "../../../store/auth";
    import moment from 'moment';
    import { goto } from "@sveltech/routify";

    let listTransaksi = [];
    let message = "";
    let error = false;
    let status = 0;

    function formatRupiah(num) {
        if (num !== undefined) {
            let NumberFormat = num
                .toString()
                .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            return "Rp " + NumberFormat;
        }
        return "Rp 0";
    }

    function detailPesanan(kd) {
        $goto('/pesanan-saya/detail/:kode',{kode: kd});
    }

    onMount(async () => {
        let resp = await transaksi.listTransCust($store.token.data);
        console.log(resp);
        if (resp.data.error > 0) {
            error = true;
            message = resp.data.message;
        } else {
            let data = resp.data.data;
            listTransaksi = data.filter((item,index) => item.status == 0);
        }
    });
</script>

<style>
    .container-error {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        background: #fff;
    }
    .message-error {
        font-size: 24px;
        color: #ff4646;
        font-weight: 700;
    }
    .container-null {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        background: #fff;
    }
    .message-null {
        font-size: 24px;
        color: #EE6055;
        font-weight: 700;
    }
    .container-data {
        padding: 15px;
        background-color: #fff;
        height: 55vh;
        overflow: auto;
    }
    .item-data {
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        border-bottom: 1px solid #c7c7c7b7;
    }
    .fs-harga {
        color: #ffa62b;
        font-weight: bold;
        font-size: 16px;
    }
    .text-rute {
        color: #636363;
        font-weight: bold;
    }
    .text-nopol {
        color: #636363;
        font-weight: 500;
    }
    .text-jadwal {
        color: #636363;
        font-weight: 500;
    }
</style>

{#if error}
    <div class="container-error">
        <div class="message-error">{message}</div>
    </div>
{:else}
    {#if listTransaksi.length == 0}
        <div class="container-null">
            <div class="message-null">
                Transaksi Belum Ditemukan
                <br />Silahkan Pesan Tiket Terlebih Dahulu !
            </div>
        </div>
    {:else}
        <div class="container-data">
            {#each listTransaksi as item}
                <div class="row item-data justify-content-between">
                    <div class="col-sm-6 col-lg-8">
                        <div class="py-1 text-rute">{item?.kd_transaksi}</div>
                        <div class="py-1 text-jadwal">
                            {moment(item.created_at).format('dddd, DD MMMM yyyy')}
                        </div>
                        <div class="py-1 text-jadwal">
                            {moment(item.created_at).format('HH:mm')} WIB
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="fs-harga">{formatRupiah(item.total)}</div>
                        {#if item.status == 0}
                            <div class="badge badge-pill badge-warning">
                                Belum Bayar
                            </div>
                        {:else if item.status == 1}
                            <div class="badge badge-pill badge-success">
                                Lunas
                            </div>
                        {:else}
                            <div class="badge badge-pill badge-danger">
                                Expire
                            </div>
                        {/if}
                        <div class="py-2">
                            <button on:click={detailPesanan(item.kd_transaksi)} class="btn btn-info btn-sm">Detail transaksi
                                <i class="mdi mdi-magnify" /></button>
                        </div>
                    </div>
                </div>
            {/each}
        </div>
    {/if}
{/if}
