<script>
    import { onMount } from "svelte";
    import transaksi from "../../api/master/transaksi";
    import { store, userData } from "../../store/auth";
    import { params } from "@sveltech/routify";
    import Swal from "sweetalert2";
    import moment from "moment";
    import qr from "qrious/dist/qrious";
    import {
        dataDiri,
        dataDiriPulang,
        listTiket,
        pulangPergi,
        selectBus,
        selectJamTrayek,
        selectJamTrayekPulang,
        selectKursi,
        selectKursiPulang,
        tglTiket,
        tglTiketPulang,
    } from "../../store/ticket";
    import idLocale from "moment/locale/id";

    moment.locale("id", idLocale);

    let token = $store.token.data;
    let dataTransaksi;
    let selectedData;
    let base64;

    let tiket = {
        berangkat: [],
        pulang: [],
    };

    for (let i = 0; i < $selectKursi.length; i++) {
        const elKursi = $selectKursi[i];
        const elDiri = $dataDiri[i];
        tiket.berangkat.push({
            kursi: elKursi,
            dataDiri: elDiri,
            rute:
                $listTiket[0].id_kota_asal.nm_kota +
                " - " +
                $listTiket[0].id_kota_tujuan.nm_kota,
            tglBerangkat: moment($tglTiket).format("dddd, DD MMMM yyyy"),
            jamBerangkat: $selectJamTrayek.jam_berangkat,
            jamPulang: $selectJamTrayek.jam_sampai,
        });
        if ($pulangPergi) {
            const elKursiP = $selectKursiPulang[i];

            tiket.pulang.push({
                kursi: elKursiP,
                dataDiri: elDiri,
                rute:
                    $listTiket[0].id_kota_tujuan.nm_kota +
                    " - " +
                    $listTiket[0].id_kota_asal.nm_kota,
                tglBerangkat: moment($tglTiketPulang).format(
                    "dddd, DD MMMM yyyy"
                ),
                jamBerangkat: $selectJamTrayekPulang.jam_berangkat,
                jamPulang: $selectJamTrayekPulang.jam_sampai,
            });
        }
    }

    // $selectKursi.map((item, i) =>
    //     tiket.berangkat.push({ kd_kursi: item.kd_kursi })
    // );
    // $dataDiri.map((item, i) => {
    //     tiket.berangkat.push(item);
    // });

    onMount(async () => {
        let resp = await transaksi.transAgen(token);
        dataTransaksi = resp.data.data;
        selectedData = dataTransaksi.filter(
            (item) => item.kd_transaksi == $params.transaksi
        )[0];
        var a = new qr({
            element: window.document.getElementById("qr"),
            value: selectedData.kd_transaksi,
            size: 378,
        });
        base64 = a.toDataURL("image/jpeg");
    });

    const jq = window.$;

    function formatRupiah(num) {
        if (num !== undefined) {
            let NumberFormat = num
                .toString()
                .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            return "Rp " + NumberFormat;
        }
        return "Rp 0";
    }

    function printPdf() {
        window.print();
    }
</script>

<style>
    @media screen {
        .print-page {
            margin-top: 10px;
        }
    }

    @media print {
        #get-pdf {
            visibility: hidden;
        }
        .print-page {
            margin-top: 0;
        }
        p.bodyText {
            font-family: georgia, times, serif;
        }
    }
    @media screen, print {
        p.bodyText {
            font-size: 10pt;
        }
    }

    p,
    span {
        color: #495057;
    }

    .fs-harga {
        color: #ffa62b;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }
</style>

<div class="container-fluid">
    <div class="print-page">
        {#each tiket.berangkat as item, i}
            <div class="card">
                <div class="card-body">
                    {#if i == 0}
                        <button
                            style="margin-bottom: 10px;"
                            id="get-pdf"
                            on:click={() => printPdf()}
                            class="btn btn-danger">
                            <i class="mdi mdi-download" />
                            Download Pdf</button>
                    {/if}
                    <div class="invoice">
                        <div class="row">
                            <div class="col-md-4">
                                <img
                                    class="img-fluid"
                                    style="width:225px"
                                    src="/assets/images/logo-eka.png"
                                    alt="Eka" />
                                <p style="font-size: 18px;margin-top: 20px">
                                    Tanggal Pemesanan :
                                </p>
                                <span style="font-size: 16px;font-weight: 500;">
                                    {moment().format('dddd, DD MMMM yyyy')}
                                </span>
                                <p style="font-size: 18px;margin-top: 20px">
                                    No. Kursi :
                                </p>
                                <span style="font-size: 20px;font-weight: 700;">
                                    {item.kursi.kd_kursi}
                                </span>
                            </div>
                            <div class="col-md-4">
                                <p style="font-weight: 700">
                                    Jadwal Berangkat :
                                </p>
                                <p style="font-size:16px;font-weight: 700">
                                    {item.tglBerangkat}
                                </p>
                                <p style="font-weight: 700">Jam Berangkat :</p>
                                <p>{item.jamBerangkat}</p>
                                <p style="font-weight: 700">Jam Sampai :</p>
                                <p>{item.jamPulang}</p>
                            </div>
                            <div class="col-md-4">
                                <div style="text-align:center;">
                                    <img
                                        id="qr"
                                        class="img-fluid"
                                        src={base64}
                                        style="width: 275px"
                                        alt="tiket" />
                                </div>
                                <h5 style="text-align:center">CST1293812038</h5>
                            </div>
                        </div>
                        <div class="row">
                            <table
                                style="margin-top: 15px"
                                class="table table-bordered">
                                <thead>
                                    <th>No.</th>
                                    <th>Penumpang</th>
                                    <th>Rute</th>
                                    <th>No Ticket</th>
                                    <th>Harga</th>
                                </thead>
                                <tbody>
                                    <td>1</td>
                                    <td>{item.dataDiri.nama}</td>
                                    <td><span>{item.rute}</span></td>
                                    <td>CST1293812038</td>
                                    <td>
                                        {formatRupiah($listTiket[0]?.harga)}
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {/each}
        {#if $pulangPergi}
            {#each tiket.pulang as item, i}
                <div class="card">
                    <div class="card-body">
                        <div class="invoice">
                            <div class="row">
                                <div class="col-md-4">
                                    <img
                                        class="img-fluid"
                                        style="width:225px"
                                        src="/assets/images/logo-eka.png"
                                        alt="Eka" />
                                    <p style="font-size: 18px;margin-top: 20px">
                                        Tanggal Pemesanan :
                                    </p>
                                    <span
                                        style="font-size: 20px;font-weight: 700;">
                                        {moment().format('dddd, DD MMMM yyyy')}
                                    </span>
                                    <p style="font-size: 18px;margin-top: 20px">
                                        No. Kursi :
                                    </p>
                                    <span
                                        style="font-size: 20px;font-weight: 700;">
                                        {item.kursi.kd_kursi}
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <p style="font-weight: 700">Jadwal</p>
                                    <p>{item.tglBerangkat}</p>
                                    <p style="font-weight: 700">
                                        Jam Berangkat :
                                    </p>
                                    <p>{item.jamBerangkat}</p>
                                    <p style="font-weight: 700">Jam Sampai :</p>
                                    <p>{item.jamPulang}</p>
                                </div>
                                <div class="col-md-4">
                                    <div style="text-align:center;">
                                        <img
                                            id="qr"
                                            class="img-fluid"
                                            src={base64}
                                            style="width: 275px"
                                            alt="tiket" />
                                    </div>
                                    <h5 style="text-align:center">
                                        CST1293812038
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <table
                                    style="margin-top: 15px"
                                    class="table table-bordered">
                                    <thead>
                                        <th>No.</th>
                                        <th>Penumpang</th>
                                        <th>Rute</th>
                                        <th>No Ticket</th>
                                        <th>Harga</th>
                                    </thead>
                                    <tbody>
                                        <td>1</td>
                                        <td>{item.dataDiri.nama}</td>
                                        <td><span>{item.rute}</span></td>
                                        <td>CST1293812038</td>
                                        <td>
                                            {formatRupiah($listTiket[0]?.harga)}
                                        </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {/each}
        {/if}
    </div>
    <!-- end row -->
</div>
<!-- end main content-->
