<script>
    import { goto } from "@sveltech/routify";
    import {
        listTiketPulang,
        selectBusPulang,
        selectJamTrayekPulang,
        tglTiketPulang,
    } from "../../store/ticket";
    import moment from "moment";

    function lamaPerjalanan(berangkat, sampai) {
        var berr = parseInt(berangkat.toString().split(":")[0]);
        var sam = parseInt(sampai.toString().split(":")[0]);
        if (berr > sam) {
            var tglHariBaru = moment(`${$tglTiketPulang}`, "YYYY-MM-DD").add(
                1,
                "days"
            );

            var day = tglHariBaru.format("DD");
            var month = tglHariBaru.format("MM");
            var year = tglHariBaru.format("YYYY");

            var startTime = moment(
                `${$tglTiketPulang} ${berangkat}`,
                "YYYY-MM-DD HH:mm"
            );
            var endTime = moment(
                `${year}-${month}-${day} ${sampai}`,
                "YYYY-MM-DD HH:mm"
            );
            var result = endTime.diff(startTime, "m");
            var jam = result / 60;
            var min = result % 60;
            var stringJam = jam.toString().split(".")[0];
            return {
                jam: stringJam,
                min,
            };
        } else {
            var startTime = moment(
                `${$tglTiketPulang} ${berangkat}`,
                "YYYY-MM-DD HH:mm"
            );
            var endTime = moment(
                `${$tglTiketPulang} ${sampai}`,
                "YYYY-MM-DD HH:mm"
            );
            // var duration = moment.duration(endTime.diff(startTime));
            // var hours = parseInt(duration.asHours());
            var result = endTime.diff(startTime, "m");
            var jam = result / 60;
            var min = result % 60;
            var stringJam = jam.toString().split(".")[0];
            return {
                jam: stringJam,
                min,
            };
        }
    }

    function formatRupiah(num) {
        if (num !== undefined) {
            let NumberFormat = num
                .toString()
                .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            return "Rp " + NumberFormat;
        }
        return "Rp 0";
    }

    function chooseBus(jt, selectedItem) {
        $selectBusPulang = selectedItem;
        $selectJamTrayekPulang = jt;
        $goto("/pilih-kursi");
    }
</script>

<style>
    .container-fluid {
        background-color: #f3f3f3;
        background-image: url("/assets/images/halte.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: cover;
    }
    .center-form {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        height: 90vh;
    }
    p {
        color: #636363;
        font-weight: 500;
    }
</style>

<div class="container-fluid">
    <div class="container-top">
        <div class="row justify-content-around my-4 mx-3">
            <div class="items">
                <h3>Pilih Bus Pulang:</h3>
            </div>
            <div class="items">
                <button
                    on:click={() => $goto('/pesan-tiket')}
                    class="btn btn-success">Ganti Pencarian</button>
            </div>
        </div>
    </div>
    <div>
        <div class="row justify-content-around my-4 mx-3">
            <div class="items">
                <h4>Tujuan Pulang:</h4>
            </div>
            <div class="items">
                <h4>
                    {$listTiketPulang[0]?.id_kota_asal.nm_kota}
                    -
                    {$listTiketPulang[0]?.id_kota_tujuan.nm_kota}
                </h4>
            </div>
        </div>
    </div>
    <div class="center-form">
        <div class="col-md-8 col-lg-8">
            {#each $listTiketPulang[0]?.jam_trayek || [] as item, index}
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <p>{item?.jam_berangkat}</p>
                                <p style="color:#636363;font-weight: bold">
                                    {$listTiketPulang[0]?.id_kota_asal?.nm_kota}
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p style="font-weight: 700;">Lama Perjalanan</p>
                                <p>
                                    {lamaPerjalanan(item?.jam_berangkat, item?.jam_sampai).jam}
                                    Jam
                                    {lamaPerjalanan(item?.jam_berangkat, item?.jam_sampai).min}
                                    Menit
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p>{item?.jam_sampai}</p>
                                <p style="color:#636363;font-weight: bold">
                                    {$listTiketPulang[0]?.id_kota_tujuan?.nm_kota}
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p style="font-weight:bold;font-size:16px">
                                    {formatRupiah($listTiketPulang[0]?.harga)}
                                </p>
                                <button
                                    on:click={() => chooseBus(item, item?.bus[0])}
                                    class="btn btn-success">Pesan Tiket</button>
                            </div>
                        </div>
                    </div>
                </div>
                {#if $listTiketPulang[0].jam_trayek.length > 1}
                    <hr style="border-top: 2px solid rgba(0,0,0,.1);" />
                {:else if $listTiketPulang[0].jam_trayek.length == 1}{/if}
            {/each}
        </div>
    </div>
</div>
