<script>
    import { goto } from "@sveltech/routify";
    import { afterUpdate, onMount } from "svelte";
    import { store } from "../../store/auth";
    import {
        selectBus,
        selectKursi,
        jmlPenumpang,
        listTiketPulang,
        selectKursiPulang,
        selectBusPulang,
    } from "../../store/ticket";

    let penumpang = $jmlPenumpang;
    let pressed = [];
    let isDisabled = false;
    let dataSelectedKursi = [];

    onMount(() => {
        $selectBusPulang?.kursi.map((item, i) =>
            pressed.push({ id: i, status: false })
        );
        $selectKursiPulang = [];
    });

    afterUpdate(() => {
        var a = pressed.filter((item) => item.status == true);
        if (a.length >= penumpang) {
            isDisabled = true;
        } else if (a.length <= penumpang) {
            isDisabled = false;
        }
    });

    function selectedSeat(item, idx) {
        if ($store == null) {
            pressed[idx].status = !pressed[idx].status;
            var a = pressed.filter((item) => item.status == true);
            if (a.length >= $selectKursiPulang.length) {
                dataSelectedKursi.push(item);
            } else {
                dataSelectedKursi.pop();
            }
            $selectKursiPulang = dataSelectedKursi;
        } else {
            pressed[idx].status = !pressed[idx].status;
            var a = pressed.filter((item) => item.status == true);
            if (a.length >= $selectKursiPulang.length) {
                dataSelectedKursi.push(item);
            } else {
                dataSelectedKursi.pop();
            }
            $selectKursiPulang = dataSelectedKursi;
        }
    }

    function konfirmPilih() {
        $goto("/data-diri");
    }
</script>

<style>
    .container-fluid {
        background-color: #f3f3f3;
        background-image: url("/assets/images/halte.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 1000px;
        height: 85vh;
    }
    .center-form {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        height: 90vh;
    }
    @media (max-width: 575.98px) {
        .box-kursi {
            height: 40px;
            width: 48px;
            margin-bottom: 5px;
            margin-left: 5px;
        }
        .container-kursi {
            margin-top: 10px;
            display: flex;
            justify-content: center;
        }
        .container-ket-kursi > .list-ket {
            display: flex;
            flex-direction: column;
        }
    }
    @media (min-width: 600px) {
        .box-kursi {
            height: 50px;
            width: 50px;
            margin-bottom: 5px;
            margin-left: 5px;
        }
        .container-kursi {
            display: flex;
            justify-content: center;
        }
        .container-icon-supir {
            padding: 2px;
            margin-bottom: 10px;
            border-radius: 10px;
            background-color: #ff8f00;
            width: 118px;
        }
        .parent-icon-supir {
            margin-right: 10px;
        }
    }

    @media screen and (max-width: 1440px) and (min-width: 1187px) {
        .col-kursi {
            width: 13% !important;
            flex: 0 0 10% !important;
        }
    }

    @media screen and (max-width: 1024px) and (min-width: 873px) {
        .col-kursi {
            width: 13% !important;
            flex: 0 0 10% !important;
        }
        .parent-icon-supir {
            margin-right: 22px !important;
        }
    }

    @media screen and (max-width: 425px) and (min-width: 320px) {
        .col-kursi {
            width: 100% !important;
            flex: 0 0 35% !important;
        }
        .txt-kursi {
            text-align: center !important;
            margin: 0 !important;
            font-size: 10px !important;
        }
        .parent-icon-supir {
            margin-right: 5px !important;
        }
    }

    @media screen and (max-width: 425px) and (min-width: 392px) {
        .col-kursi {
            width: 40% !important;
            flex: 0 0 30% !important;
        }
        .txt-kursi {
            text-align: center !important;
            margin: 0 !important;
            font-size: 10px !important;
        }
    }

    .txt-kursi {
        text-align: center;
        margin: 0;
        font-size: 12px;
    }

    .col-kursi {
        width: 10%;
        flex: 0 0 9%;
    }

    .btn[disabled] {
        cursor: not-allowed;
    }

    .btn-orange {
        background-color: #fb8c00;
        color: #fff;
    }

    .seat-empty {
        height: 10px;
        width: 10px;
        background-color: #45cb85;
        margin-right: 10px;
    }
    .seat-ongoing {
        height: 10px;
        width: 10px;
        background-color: #fb8c00;
        margin-right: 10px;
    }
    .seat-booked {
        height: 10px;
        width: 10px;
        background-color: #ff715b;
        margin-right: 10px;
    }
    .seat-disabled {
        height: 10px;
        width: 10px;
        background-color: #343a40;
        margin-right: 10px;
    }
    .container-ket-kursi {
        display: flex;
        flex-direction: column;
    }
    .container-ket-kursi > .list-ket {
        display: flex;
    }
    .container-ket-kursi > .list-ket > .item-kursi {
        display: flex;
        align-items: center;
        margin: 10px;
    }
    .ket-title {
        text-align: center;
    }
    .container-icon-supir {
        padding: 2px;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: transparent;
        width: 48px;
        height: 40px;
    }
    .item-icon-supir {
        padding: 10px;
        margin-bottom: 10px;
    }
    .parent-icon-supir {
        margin-right: 33px;
    }
</style>

<div class="container-fluid">
    <div class="container-top">
        <div class="row justify-content-around my-4 mx-3">
            <div class="items">
                <h3>
                    Pilih Kursi :
                    {$listTiketPulang[0].id_kota_asal.nm_kota}
                    -
                    {$listTiketPulang[0].id_kota_tujuan.nm_kota}
                </h3>
            </div>
        </div>
    </div>
    {#if $selectBusPulang?.kursi}
        <div class="center-form">
            <div class="container-ket-kursi">
                <div class="ket-title">
                    <h6>Keterangan :</h6>
                </div>
                <div class="list-ket col-sm">
                    <div class="item-kursi">
                        <div class="seat-empty" />
                        <span>Kosong</span>
                    </div>
                    <div class="item-kursi">
                        <div class="seat-ongoing" />
                        <span>Perjalanan</span>
                    </div>
                    <div class="item-kursi">
                        <div class="seat-booked" />
                        <span>Booked</span>
                    </div>
                    <div class="item-kursi">
                        <div class="seat-disabled" />
                        <span>Tidak Ada</span>
                    </div>
                </div>
            </div>
            <div class="selected-kursi">
                <p class="font-weight-bold">
                    Kursi Yang Anda Pilih :
                    {#each $selectKursiPulang || [] as kursi}
                        {kursi.kd_kursi + ' '}
                    {/each}
                </p>
                <div class="text-center mb-3">
                    <button
                        on:click={() => konfirmPilih()}
                        class="btn btn-outline-info font-weight-bold">Selesai
                        Pilih
                        <i class="mdi mdi-check-bold" /></button>
                </div>
            </div>
            <div class="row">
                <div class="container-kursi">
                    <div class="col-kursi">
                        <div class="item-icon-supir"><br /></div>

                        {#each $selectBusPulang?.kursi as item, a}
                            {#if a <= 17}
                                {#if item.available == 0}
                                    <button
                                        disabled={pressed[a]?.status === true ? false : isDisabled}
                                        on:click={() => selectedSeat(item, a)}
                                        class="btn {pressed[a]?.status === true ? 'btn-outline-success' : 'btn-success'} box-kursi">
                                        <p class="txt-kursi">{item.kd_kursi}</p>
                                    </button>
                                {:else if item.available == 1}
                                    {#if item}
                                        <button
                                            disabled={pressed[a]?.status === true ? false : isDisabled}
                                            on:click={() => selectedSeat(item, a)}
                                            class="btn btn-orange box-kursi">
                                            <p class="txt-kursi">
                                                {item.kd_kursi}
                                            </p>
                                        </button>
                                    {:else}
                                        <button
                                            disabled
                                            on:click={() => selectedSeat(item, a)}
                                            class="btn btn-danger box-kursi">
                                            <p class="txt-kursi">
                                                {item.kd_kursi}
                                            </p>
                                        </button>
                                    {/if}
                                {:else}
                                    <button
                                        disabled
                                        on:click={() => selectedSeat(item, a)}
                                        class="btn btn-dark box-kursi">
                                        <p class="txt-kursi">{item.kd_kursi}</p>
                                    </button>
                                {/if}
                            {/if}
                        {/each}
                    </div>
                    <div class="col-kursi">
                        <div class="row justify-content-end parent-icon-supir">
                            <div class="text-center container-icon-supir">
                                <i
                                    style="font-size:32px;color:#3e3e3e;"
                                    class="mdi mdi-steering" />
                            </div>
                        </div>
                        {#each $selectBusPulang?.kursi as item, a}
                            {#if a >= 18}
                                {#if item.available == 0}
                                    <button
                                        disabled={pressed[a]?.status === true ? false : isDisabled}
                                        on:click={() => selectedSeat(item, a)}
                                        class="btn {pressed[a]?.status === true ? 'btn-outline-success' : 'btn-success'} box-kursi">
                                        <p class="txt-kursi">{item.kd_kursi}</p>
                                    </button>
                                {:else if item.available == 1}
                                    {#if item}
                                        <button
                                            disabled={pressed[a]?.status === true ? false : isDisabled}
                                            on:click={() => selectedSeat(item, a)}
                                            class="btn btn-orange box-kursi">
                                            <p class="txt-kursi">
                                                {item.kd_kursi}
                                            </p>
                                        </button>
                                    {:else}
                                        <button
                                            disabled
                                            on:click={() => selectedSeat(item, a)}
                                            class="btn btn-danger box-kursi">
                                            <p class="txt-kursi">
                                                {item.kd_kursi}
                                            </p>
                                        </button>
                                    {/if}
                                {:else}
                                    <button
                                        disabled
                                        on:click={() => selectedSeat(item, a)}
                                        class="btn btn-dark box-kursi">
                                        <p class="txt-kursi">{item.kd_kursi}</p>
                                    </button>
                                {/if}
                            {/if}
                        {/each}
                    </div>
                </div>
            </div>
        </div>
    {/if}
</div>
