<script>
    import transaksi from "../../api/master/transaksi";
    import kota from "../../api/master/kota";
    import { Spinner } from "sveltestrap";
    import { goto } from "@sveltech/routify";
    import { store } from "../../store/auth";
    import {
        dataPesanTiket,
        jmlPenumpang,
        listTiket,
        pulangPergi,
        tglTiket,
        tglTiketPulang,
    } from "../../store/ticket";
    import moment from "moment";
    import { afterUpdate, onMount } from "svelte";
    import { validatePesanTiket } from "../../helper/validation";
    import flatpickr from "flatpickr";
    import Swal from "sweetalert2";

    let token = $store?.token?.data;
    let data = {};
    let listKota = [];
    let isLoading = false;
    let active = false;
    let today = moment().format("YYYY-MM-DD");
    let addDay = moment(today, "YYYY-MM-DD").add(1, "day");
    let tomorrow = moment(addDay).format("YYYY-MM-DD");
    let isPp = false;
    let penumpang = 1;

    afterUpdate(() => {
        flatpickr("#date2", {
            format: "Y-m-d",
            altInput: true,
            altFormat: "d-m-Y",
            disableMobile: true,
        });
    });

    if ($dataPesanTiket != null) {
        data.asal = $dataPesanTiket.asal;
        data.tujuan = $dataPesanTiket.tujuan;
        today = $dataPesanTiket.tgl;
        tomorrow = $dataPesanTiket.tglPulang;
        penumpang = $dataPesanTiket.penumpang;
    }

    onMount(async () => {
        localStorage.removeItem('timer');
        $pulangPergi = false;
        let resp = await kota.listKota(token, data);
        listKota = resp.data.data;
        window.$(".custom-select-asal").select2();
        window.$(".custom-select-tujuan").select2();
        flatpickr("#flatpickr", {
            format: "Y-m-d",
            altInput: true,
            altFormat: "d-m-Y",
            disableMobile: true,
        });
    });

    function incrementPerson() {
        penumpang++;
    }

    function decrementPerson() {
        penumpang--;
    }

    async function cariTiket() {
        isLoading = true;
        var asal = window.$(".custom-select-asal").select2("data")[0].id;
        var tujuan = window.$(".custom-select-tujuan").select2("data")[0].id;
        data = {
            ...data,
            asal: asal,
            tujuan: tujuan,
            tgl: today,
            tglPulang: tomorrow,
            penumpang: penumpang,
        };
        const validation = validatePesanTiket(data);
        if (validation != true) {
            isLoading = false;
            Swal.fire(validation, "Silahkan Cek Form Anda !", "error");
        } else {
            const resp = await transaksi.listTiketCust(token, data);
            if (resp.data.error > 0) {
                isLoading = false;
                Swal.fire(
                    "Tiket Tidak Ditemukan !",
                    "Silahkan Pilih Tanggal Lain !",
                    "error"
                );
            } else {
                isLoading = false;
                if (resp.data.data.length == 0) {
                    Swal.fire(
                        "Rute tiket yang anda pilih tidak tersedia !",
                        "Silahkan Pilih Rute Lain !",
                        "error"
                    );
                } else {
                    $listTiket = resp.data.data;
                    $tglTiket = today;
                    $tglTiketPulang = tomorrow;
                    $jmlPenumpang = parseInt(penumpang);
                    $pulangPergi = isPp;
                    $dataPesanTiket = data;
                    $goto("/pilih-bus");
                }
            }
        }
    }
</script>

<style>
    .container-fluid {
        background-color: #f3f3f3;
        background-image: url("/assets/images/halte.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 1000px;
    }
    .center-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90vh;
    }
    #button-tiket {
        width: 100px;
    }
    .btn-danger {
        background: #e61206;
    }
    .p-increment {
        background-color: #fff;
        border-left: 0;
        border-right: 0;
        border-top: 1px solid rgb(206, 212, 218);
        border-bottom: 1px solid rgb(206, 212, 218);
        padding-right: 10px;
        color: #e61206;
    }
    .p-decrement {
        background-color: #fff;
        border-left: 0;
        border-right: 1px solid rgb(206, 212, 218);
        border-top: 1px solid rgb(206, 212, 218);
        border-bottom: 1px solid rgb(206, 212, 218);
        padding-right: 10px;
        color: #e61206;
    }
</style>

<div class="container-fluid">
    <div class="center-form">
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="kota-asal">Kota Asal :</label>
                <select
                    bind:value={data.asal}
                    name="Kota Asal"
                    class="form-control custom-select-asal">
                    <option value="#">Silahkan Pilih Kota Berangkat</option>
                    {#each listKota as item}
                        <option value={item.nm_kota}>{item.nm_kota}</option>
                    {/each}
                </select>
            </div>
            <div class="form-group">
                <label for="kota-asal">Kota Tujuan :</label>
                <select
                    bind:value={data.tujuan}
                    name="Kota Tujuan"
                    class="form-control custom-select-tujuan">
                    <option value="#">Silahkan Pilih Kota Tujuan</option>
                    {#each listKota as item}
                        <option value={item.nm_kota}>{item.nm_kota}</option>
                    {/each}
                </select>
            </div>
            <div class="form-group">
                <span class="flatpickr-btn">
                    <label for="tgl-pesan">Tanggal Berangkat : </label>
                    <div class="input-group">
                        <input
                            id="flatpickr"
                            bind:value={today}
                            name="tanggal"
                            class="form-control"
                            class:active />
                        <div class="input-group-append">
                            <button disabled class="input-group-text">
                                <i class="fa fa-calendar" />
                            </button>
                        </div>
                    </div>
                </span>
            </div>
            {#if isPp}
                <div class="form-group">
                    <label for="tgl-pulang">Tanggal Pulang : </label>
                    <span class="flatpickr-btn">
                        <div class="input-group">
                            <input
                                id="date2"
                                bind:value={tomorrow}
                                name="tanggal"
                                class="form-control"
                                class:active />
                            <div class="input-group-append">
                                <button disabled class="input-group-text">
                                    <i class="fa fa-calendar" />
                                </button>
                            </div>
                        </div>
                    </span>
                </div>
            {/if}
            <div class="form-group">
                <label for="penumpang">Jumlah Penumpang :</label>
                <div class="input-group">
                    <input
                        style="border-right: 0px;"
                        bind:value={penumpang}
                        class="form-control"
                        type="text"
                        placeholder="Jumlah Penumpang" />
                    <div class="input-group-append">
                        <button
                            on:click={() => incrementPerson()}
                            class="btn btn-light p-increment">
                            <i class="fa fa-plus" />
                        </button>
                        <button
                            on:click={() => decrementPerson()}
                            class="btn btn-light p-decrement">
                            <i class="fa fa-minus" />
                        </button>
                        <button disabled class="input-group-text">
                            <i class="fa fa-user" />
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-end justify-content-end mb-4">
                <div class="form-check">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        bind:checked={isPp}
                        id="defaultCheck1" />
                    <label class="form-check-label" for="defaultCheck1">
                        Pulang Pergi
                    </label>
                </div>
            </div>
            <div class="d-flex align-items-end justify-content-end">
                {#if isLoading}
                    <button id="button-tiket" class="btn btn-danger">
                        <Spinner />
                    </button>
                {:else}
                    <button
                        id="button-tiket"
                        class="btn btn-danger"
                        on:click={() => cariTiket()}><i
                            style="margin-right:10px"
                            class="mdi mdi-magnify" />
                        Cari</button>
                {/if}
            </div>
        </div>
    </div>
</div>
