<script>
    import { onMount } from "svelte";
    import { params } from "@sveltech/routify";
    import { Spinner } from "sveltestrap";
    import { goto } from "@sveltech/routify";
    import Countdown from '../../../component/Countdown.svelte';
    import Header from '../../../component/Header.svelte';
    import bank from "../../../api/master/bank";
    import transaksi from "../../../api/master/transaksi";
    import { store } from "../../../store/auth";
    import {
        idTransaksi
    } from "../../../store/ticket";
    import moment from 'moment';
    import Swal from 'sweetalert2'

    let selectedData,dataTransaksi;
    let loading;
    let time = moment(new Date()).add(5, "m").toDate();
    let timerStorage = localStorage.getItem('timer');

    onMount(async () => {
        loading = true;
        let resp = await transaksi.listTransCust($store.token.data);
        dataTransaksi = resp.data.data;
        selectedData = await dataTransaksi.filter(
            (item) => item.kd_transaksi == $params.kode
        )[0];
        loading= false;
        console.log('detail',selectedData);
    });

    function formatRupiah(num) {
        if (num !== undefined) {
            let NumberFormat = num
                .toString()
                .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            return "Rp " + NumberFormat;
        }
        return "Rp 0";
    }

    function timer(local,storage){
        if (storage != '') {
            return local;
        }else{
            return storage;
        }
    }

    function downloadInvoice(data) {
        $goto('/invoice/:transaksi',{transaksi: data.kd_transaksi});
    }

    async function checkPayment() {
        let data = {
            id_tiket: $idTransaksi
        };

        let resp = await bank.checkPayment($store.token.data,data);
        console.log(resp);
        if (resp.data.error > 0) {
            Swal.fire('Kesalahan', resp.data.message, 'error');
        }else{
            $goto('/pesanan-saya/belum-bayar');
        }
    }
</script>

<style>
    .container-detail{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 91.5vh;
    }
    p{
        margin: 0;
    }
    .text-group{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .text-header{
        margin-bottom: 7px;
        color: #8687a7;
    }
    .text-content{
        color: #3e3e3e;
        font-weight: 500;
    }
    .container-countdown{
        margin-bottom: 20px;
    }
</style>

<Header/>
<div class="container-detail">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    {#if loading}
                    <div class="text-center">
                        <Spinner style="font-size: 20px" />
                        <h5>Loading...</h5>
                    </div>
                    {:else}
                        {#if selectedData?.status == 0 }
                        <div class="card-title">
                            <div class="text-center">
                                <h4>Nomor Virtual Account</h4>
                            </div>
                            <div class="text-center">
                                <h5 style="font-family: Roboto, Arial">
                                    12816{selectedData?.id_memberva.kd_va}
                                </h5>
                            </div>
                        </div>
                        {/if}
                        <div class="card-content">
                            <div class="text-group">
                                <p class="text-header">
                                    Kode Transaksi
                                </p>
                                <p class="text-content">{selectedData?.kd_transaksi}</p>
                            </div>
                            <div class="text-group">
                                <p class="text-header">
                                    Status
                                </p>
                                {#if selectedData?.status == 0}
                                    <p class="text-content">Belum Bayar</p>
                                {:else if  selectedData?.status == 1}
                                    <p class="text-content">Lunas</p>
                                {:else}
                                    <p class="text-content">Dibatalkan</p>
                                {/if}
                            </div>
                            <div class="text-group">
                                <p class="text-header">
                                    Tanggal Pembelian
                                </p>
                                <p class="text-content">
                                   {moment(selectedData?.created_at).format('dddd, DD MMMM yyyy HH:mm')} 
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="card-content">
                            <p class="text-header">Detail Pembayaran</p>
                            <table class="table pembayaran">
                                <tr>
                                    <td>Jumlah Tiket</td>
                                    <td class="text-content">x{selectedData?.qty}</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td class="text-content">{formatRupiah(selectedData?.total)}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-danger">
                                Batalkan
                            </button>
                            {#if selectedData?.status == 1}
                                <button on:click={() => downloadInvoice(selectedData)} class="btn btn-success">
                                    Download Tiket
                                </button>
                            {:else}
                                <button on:click={() => checkPayment()} class="btn btn-success">
                                    Cek Status
                                </button>
                            {/if}
                        </div>
                    {/if}
                </div>
            </div>
        </div>
</div>