<script>
    import Countdown from "../../component/Countdown.svelte";
    import { goto } from "@sveltech/routify";
    import moment from "moment";
    import transaksi from "../../api/master/transaksi";
    import bank from "../../api/master/bank";
    import {
        selectBus,
        selectKursi,
        selectJamTrayek,
        totalHarga,
        selectBank,
        dataDiri,
        tglTiket,
        listTiket,
        nomorVa,
idTransaksi,
    } from "../../store/ticket";
    import idLocale from "moment/locale/id";
    import { store } from "../../store/auth";
    import Swal from 'sweetalert2';

    moment.locale("id", idLocale);

    let date = new Date();
    let time = moment(date).add(5, "m").toDate();
    let timerStorage = localStorage.getItem('timer');

    if (timerStorage <= 991) {
        console.log("a");
    }

    async function lanjutkanb() {
        // let credential = await bank.getCredential($store.token.data, {
        //     client_id: "4rLtKi0RezGrSdG8Qdx69AdTaF4FDhH0",
        //     client_secret: "CCNyzJ4Kxw1leSVq",
        // });
        // let cek_status = await bank.checkStatus($store.token.data, {
        //     no_va: $nomorVa,
        //     access_token: credential.data.data.access_token,
        // });
        let data = {
            id_tiket: $idTransaksi
        };

        let resp = await bank.checkPayment($store.token.data,data);
        console.log($store.token, resp);
        if (resp.data.error > 0) {
            Swal.fire('Error', 'error something wrong', 'error');
        }else{
            $goto('/pesanan-saya/belum-bayar');
        }
    }
    function formatRupiah(num) {
        if (num !== undefined) {
            let NumberFormat = num
                .toString()
                .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            return "Rp " + NumberFormat;
        }
        return "Rp 0";
    }
    function timer(local,storage){
        if (storage != '') {
            return local;
        }else{
            return storage;
        }
    }
</script>

<style>
    .container-fluid {
        background-color: #f3f3f3;
        background-image: url("/assets/images/halte.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 1000px;
    }
    .container-child {
        margin-top: auto;
        margin-bottom: auto;
    }
    .font-bank {
        font-size: 16px;
        font-weight: 500;
    }
    .container-va {
        padding: 10px;
    }
    .container-bayar {
        padding: 10px;
    }
    .title-va {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .title-bayar {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .text-va {
        font-size: 20px;
        font-weight: 500;
        color: #181818;
    }
    .text-bayar {
        font-size: 20px;
        font-weight: 700;
        color: #fdb827;
    }
    .ol-cara-bayar > li {
        padding-bottom: 10px;
    }
</style>

<div class="container-fluid p-4">
    <div class="container-child">
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-4">
                <div class="text-center">
                    <p style="color:#404040;font-weight:700">
                        Selesaikan Pembayaran dalam
                    </p>
                    <div class="card">
                        <div style="padding: 1rem" class="card-body">
                            <Countdown
                                from={timer(time,timerStorage)}
                                dateFormat="YYYY-MM-DD HH:MM:SS"
                                let:remaining>
                                <div class="whatever">
                                    {#if remaining.done === false}
                                        <h3>
                                            {#if remaining.minutes < 10}
                                                {#if remaining.seconds < 10}
                                                    0{remaining.hours}:0{remaining.minutes}:0{remaining.seconds}
                                                {:else}
                                                    0{remaining.hours}:0{remaining.minutes}:{remaining.seconds}
                                                {/if}
                                            {:else if remaining.minutes >= 10}
                                                {#if remaining.seconds < 10}
                                                    0{remaining.hours}:{remaining.minutes}:0{remaining.seconds}
                                                {:else}
                                                    0{remaining.hours}:{remaining.minutes}:{remaining.seconds}
                                                {/if}
                                            {/if}
                                        </h3>
                                    {:else}
                                        <h2>Mohon Maaf Waktu Pembayaran Telah Berakhir!</h2>
                                    {/if}
                                </div>
                            </Countdown>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div
                            style="padding: 10px"
                            class="row justify-content-between">
                            <span class="font-bank">BRI Virtual Account</span>
                            <img
                                height="30"
                                src="/assets/images/logo-bri.png"
                                alt="bri" />
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container-va">
                            <div class="title-va">Nomor Virtual Account</div>
                            <div class="text-va">{$nomorVa}</div>
                        </div>
                        <div class="container-bayar">
                            <div class="title-bayar">Total Pembayaran</div>
                            <div class="text-bayar">
                                {formatRupiah($totalHarga)}
                            </div>
                        </div>
                    </div>
                </div>
                <p style="font-size: 16px;color:#404040;font-weight:700">
                    Cara Pembayaran
                </p>
                <div class="card">
                    <div class="card-header">
                        <span class="font-bank">Petunjuk Transfer ATM</span>
                    </div>
                    <div class="card-body">
                        <ol class="ol-cara-bayar">
                            <li>Masukkan Kartu ATM</li>
                            <li>
                                Pilih Menu Transaksi Lainnya &gt; Transfer &gt;
                                ke Rekening BRI Virtual Account
                            </li>
                            <li>Masukkan Jumlah Transfer Sesuai Tagihan</li>
                            <li>
                                Ikuti Instruksi untuk menyelesaikan transaksi
                            </li>
                            <li>
                                Simpan struk transaksi sebagai bukti pembayaran
                            </li>
                        </ol>
                    </div>
                    <div class="card-header">
                        <span class="font-bank">Petunjuk Transfer dengan mobile
                            banking BRI</span>
                    </div>
                    <div class="card-body">
                        <ol class="ol-cara-bayar">
                            <li>
                                Masuk ke Aplikasi BRI Mobile dan pilih Mobile
                                Banking BRI
                            </li>
                            <li>Pilih Menu Info &gt; BRIVA</li>
                            <li>Masukkan Kode angka kode perusahaan</li>
                            <li>Masukkan Jumlah Pembayaran</li>
                            <li>Masukkan PIN Mobile / SMS Banking BRI</li>
                            <li>
                                Anda Akan Mendapat Notifikasi pembayaran melalui
                                SMS
                            </li>
                        </ol>
                    </div>
                    <div class="card-header">
                        <span class="font-bank">Petunjuk Transfer dengan
                            internet banking BRI</span>
                    </div>
                    <div class="card-body">
                        <ol class="ol-cara-bayar">
                            <li>login pada halaman internet Banking BRI</li>
                            <li>Pilih Menu BRIVA</li>
                            <li>Masukkan Kode angka kode perusahaan</li>
                            <li>Masukkan password internet banking BRI</li>
                            <li>Masukkan mToken internet banking BRI</li>
                            <li>Anda Akan Mendapat Notifikasi pembayaran</li>
                        </ol>
                    </div>
                    <div class="card-header">
                        <span class="font-bank">Pembayaran Melalui teller BRI</span>
                    </div>
                    <div class="card-body">
                        <ol class="ol-cara-bayar">
                            <li>
                                Ambil nomor antrian transaksi Teller dan isi
                                slip setoran
                            </li>
                            <li>
                                Serahkan slip dan jumlah setoran kepada Teller
                                BRI
                            </li>
                            <li>
                                Teller BRI akan melakukan validasi transaksi
                            </li>
                            <li>
                                Simpan slip setoran hasil validasi sebagai bukti
                                pembayaran
                            </li>
                        </ol>
                    </div>
                </div>
                <div
                    style="padding-right:12px"
                    class="form-group row justify-content-end">
                    <!-- <button
                        on:click={() => lanjutkan()}
                        class="btn btn-success">
                        Cek Status Pembayaran
                    </button> -->
                    <button
                        on:click={() => lanjutkanb()}
                        class="btn btn-success">
                        Cek Status Pembayaran
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
