<script>
  import Header from "../component/Header.svelte";

  import jwtDecode from "jwt-decode";
  import { store } from "../store/auth";
  import { goto, redirect } from "@sveltech/routify";

  if ($store == null) {
  } else {
    var token = $store.token.data;
    let decodedToken = jwtDecode(token);
    if (new Date().getTime() > decodedToken.exp * 1000) {
      window.localStorage.clear();
      window.location = "/login";
    }
  }
</script>

<main>
  <Header />

  <slot>
    <!-- optional fallback -->
  </slot>
</main>
