<script>
    import { isActive, url } from "@sveltech/routify";
</script>

<style>
    .container-fluid {
        background-color: #f3f3f3;
        background-image: url("/assets/images/halte.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 1000px;
        min-height: 90vh;
    }

    .nav-pills .nav-link.active {
        background-color: #ffffff;
        color: #242424;
    }

    .nav-pills .nav-link {
        color: #fff;
    }

    .nav-pills {
        border-radius: 5px;
    }
</style>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div style="margin-top:5rem" class="col-sm-12 col-md-12 col-lg-8">
            <ul
                style="background: #e61206; justify-content: space-evenly;"
                class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a
                        class:active={$isActive('/pesanan-saya/belum-bayar')}
                        class="nav-link"
                        href={$url('/pesanan-saya/belum-bayar')}>Belum Bayar</a>
                </li>
                <li class="nav-item">
                    <a
                        class:active={$isActive('/pesanan-saya/selesai')}
                        class="nav-link"
                        href={$url('/pesanan-saya/selesai')}>Selesai</a>
                </li>
                <li class="nav-item">
                    <a
                        class:active={$isActive('/pesanan-saya/dibatalkan')}
                        class="nav-link"
                        href={$url('/pesanan-saya/dibatalkan')}>Dibatalkan</a>
                </li>
            </ul>
            <slot />
        </div>
    </div>
</div>
