<script>
    import { goto } from "@sveltech/routify";
    import { firebaseConfig } from "../../constants/config";
    import auth from "../../api/auth";
    import { validateLogin } from "../../helper/validation";
    import { store } from "../../store/auth";
    import Swal from "sweetalert2";
    import { selectBus } from "../../store/ticket";
    import { onMount } from "svelte";
    import firebase from "firebase/app";
    import "firebase/auth";

    let email, password;

    onMount(() => {
        if (!firebase.apps.length) {
            firebase.initializeApp(firebaseConfig);
        }
    });

    function register() {
        $goto("/register");
    }

    async function login() {
        if (email == '') {
            Swal.fire("Error !", "Silahkan Email Tidak Boleh Kosong", "error");
        } else {
            firebase
                .auth()
                .sendPasswordResetEmail(email)
                .then(async (user) => {
                    Swal.fire({
                        title: "Silahkan Cek Email Anda !",
                        text: "untuk reset password anda klik link pada email yang terkirim",
                        icon: "success",
                        confirmButtonText: `Ok`,
                        allowOutsideClick: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $goto("/login");
                        }
                    });
                })
                .catch((error) => {
                    console.log(error);
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    Swal.fire("Error Login", `${errorMessage}`, "error");
                });
        }
    }
</script>

<style>
    .container-fluid {
        background: #f3f3f3 url("/assets/images/bg.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
    .center-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 91.5vh;
    }
    .btn-danger {
        background: #e61206;
    }
    .lupa-password {
        color: #565656;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .lupa-password:hover {
        color: royalblue;
        transition: color 0.25s ease-out;
        -webkit-transition: color 0.25s ease-out;
        -moz-transition: color 0.25s ease-out;
        -o-transition: color 0.25s ease-out;
    }
</style>

<div class="container-fluid">
    <div class="center-form">
        <div class="col-md-6 col-lg-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <p class="text-center font-weight-bold">
                        Masukkan Email Anda !
                    </p>
                    <div class="form-group">
                        <input
                            bind:value={email}
                            class="form-control"
                            type="email"
                            placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <button
                            class="btn btn-danger form-control"
                            on:click={() => login()}>
                            Reset Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
