<script>
    import { goto, params } from "@sveltech/routify";
    import { onMount } from "svelte";
    import { store, userData } from "../../store/auth";
    import moment from "moment";
    import {
        dataDiri,
        listTiket,
        selectBus,
        selectJamTrayek,
        selectKursi,
        tglTiket,
    } from "../../store/ticket";
    import { validateDataDiri } from "../../helper/validation";
    import Swal from "sweetalert2";

    let data = [];
    // let isProfileDefault = false;

    if ($store == null) {
        $goto("/login");
    } else {
        $selectKursi.map((item, i) => {
            if (i != $selectKursi.length) {
                data.push({ nama: "", email: "", telp: "" });
            }
        })
    }

    function onChangeDataDiri(e){
        console.log(e.target.checked);
        if (e.target.checked) {
            data = [
                {
                    email: $userData.email,
                    nama: $userData.name,
                    telp: $userData.telpon,
                },
            ];
            $selectKursi.map((item, i) => {
                if (i != $selectKursi.length - 1) {
                    data.push({ nama: "", email: "", telp: "" });
                }
            })    
        }else{
            data = [
                {
                    email: "",
                    nama: "",
                    telp: "",
                },
            ];
            $selectKursi.map((item, i) => {
                if (i != $selectKursi.length - 1) {
                    data.push({ nama: "", email: "", telp: "" });
                }
            })
        }
    }

    function lanjutkan() {
        $dataDiri = data;
        const validation = validateDataDiri(data);
        if (validation != true) {
            Swal.fire(validation, "Silahkan Cek Form Anda !", "error");
        } else {
            $goto("/konfirmasi-pesanan");
        }
    }
</script>

<style>
    .container-fluid {
        background-color: #f3f3f3;
        background-image: url("/assets/images/halte.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 1000px;
    }

    .title-passenger {
        font-weight: bold;
        color: #242424;
    }
    .label-form {
        color: #4e4e4e;
    }
</style>

<div class="container-fluid">
    <div class="container-top">
        <div class="row justify-content-around my-4 mx-3">
            <div class="items">
                <h3>Data Diri Keberangkatan :</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6  p-5">
            <label for="data-profile">
                <input type=checkbox on:change={onChangeDataDiri}>
                Gunakan data diri profil !
            </label>
            {#each $selectKursi as item, i}
                <p class="title-passenger">Penumpang {i + 1}</p>
                {#if $store != null}
                    <!-- {#if i == 0}
                        <div class="form-group">
                            <label class="label-form">Nama :</label>
                            <input
                                disabled
                                bind:value={data[0].nama}
                                class="form-control"
                                type="text"
                                placeholder="Nama Lengkap" />
                        </div>
                        <div class="form-group">
                            <label class="label-form">Email :</label>
                            <input
                                disabled
                                bind:value={data[0].email}
                                class="form-control"
                                type="text"
                                placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <label class="label-form">No. Telp :</label>
                            <input
                                disabled
                                bind:value={data[0].telp}
                                class="form-control"
                                type="text"
                                placeholder="No. Telp" />
                        </div>
                    {:else} -->
                    <div class="form-group">
                        <label class="label-form">Nama :</label>
                        <input
                            bind:value={data[i].nama}
                            class="form-control"
                            type="text"
                            placeholder="Nama Lengkap" />
                    </div>
                    <div class="form-group">
                        <label class="label-form">Email :</label>
                        <input
                            bind:value={data[i].email}
                            class="form-control"
                            type="text"
                            placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <label class="label-form">No. Telp :</label>
                        <input
                            bind:value={data[i].telp}
                            class="form-control"
                            type="text"
                            placeholder="No. Telp" />
                    </div>
                    <!-- {/if} -->
                {/if}
            {/each}
        </div>
        <div class="col-lg-6 p-5">
            <div style="border: 1px solid #b4b4b4" class="card">
                <div class="card-body">
                    <div class="row ">
                        <div class="col">
                            <p style="font-weight:700">Tujuan:</p>
                            <p>
                                {$listTiket[0]?.id_kota_asal.nm_kota}
                                -
                                {$listTiket[0]?.id_kota_tujuan.nm_kota}
                            </p>
                            <p style="font-weight:700">Tanggal Berangkat :</p>
                            <p>{moment($tglTiket).format('dddd, MMM yyyy')}</p>

                            <p style="font-weight:700">Jam Keberangkatan:</p>
                            <p>
                                {$selectJamTrayek?.jam_berangkat}
                                -
                                {$selectJamTrayek?.jam_sampai}
                            </p>

                            <p style="font-weight:700">Nomor Kursi:</p>
                            <p>
                                {#each $selectKursi as item}
                                    {item.kd_kursi + ' '}
                                {/each}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:center" class="form-group">
                <button on:click={() => lanjutkan()} class="btn btn-success">
                    Lanjutkan
                </button>
            </div>
        </div>
    </div>
</div>
