<script>
    import { goto, params } from "@sveltech/routify";
    import { onMount } from "svelte";
    import { listTiket, selectBus, selectKursi } from "../../store/ticket";

    let data = {
        kotaAsal: $listTiket[0]?.id_kota_asal.nm_kota,
        noKursi: $selectKursi.kd_kursi,
        totalHarga: $listTiket[0]?.harga,
    };

    function lanjutkan() {
        $goto("/konfirmasi-pesanan");
    }
</script>

<style>
    .container-fluid {
        background-color: #f3f3f3;
        background-image: url("/assets/images/halte.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 1000px;
        height: 88.5vh;
    }
</style>

<div class="container-fluid">
    <div class="container-top">
        <div class="row justify-content-center my-4 mx-3">
            <div class="items">
                <h3>Ulas Pesanan :</h3>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <input
                    bind:value={data.kotaAsal}
                    class="form-control"
                    type="text"
                    placeholder="Kota Asal" />
            </div>
            <div class="form-group">
                <input
                    bind:value={data.noKursi}
                    class="form-control"
                    type="text"
                    placeholder="No. Kursi" />
            </div>
            <div class="form-group">
                <input
                    bind:value={data.totalHarga}
                    class="form-control"
                    type="text"
                    placeholder="Total Harga" />
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option value="BCA">BCA</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div style="border: 1px solid #b4b4b4" class="card">
                <div class="card-body">
                    <div class="row ">
                        <div class="col">
                            <p>Surabaya-Yogya</p>
                            <p>Jumat , 29 Okt 2020</p>

                            <p>19:00</p>
                            <p>Surabaya</p>

                            <p>12:00</p>
                            <p>yogya</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:center" class="form-group">
                <button on:click={() => lanjutkan()} class="btn btn-success">
                    Lanjut Bayar
                </button>
            </div>
        </div>
    </div>
</div>
