<script>
    import { goto, isActive, url } from "@sveltech/routify";
    import { store } from "../store/auth";
    import {
        Collapse,
        Navbar,
        NavbarToggler,
        NavbarBrand,
        Nav,
        NavItem,
        NavLink,
    } from "sveltestrap";
    import { userData } from "../store/auth";

    let isOpen = false;

    function handleUpdate(event) {
        isOpen = event.detail.isOpen;
    }

    async function logout() {
        localStorage.clear();
        $goto("/login");
    }
</script>

<style>
    :global(.navbar-collapse) {
        padding: 15px !important;
        background: #e61206 !important;
        border-radius: 0px 0px 0px 10px !important;
    }

    :global(.navbar-brand) {
        padding: 0 100px 10px 100px !important;
    }

    @media (max-width: 768px) {
        :global(.navbar-brand) {
            padding: 15px !important;
        }
    }

    :global(.navbar) {
        padding: 0 !important;
    }

    :global(.navbar-light) :global(.navbar-nav) :global(.nav-link) {
        color: #fff !important;
        font-weight: 500;
    }

    :global(.navbar-light)
        > :global(.nav-item)
        :global(.active)
        > :global(.nav-link) {
        color: #fff;
        font-weight: 700;
    }
</style>

<header id="page-topbar">
    <Navbar light expand="md">
        <NavbarBrand href="/">
            <img src="/assets/images/logo-eka.png" alt="Eka Jaya" height="50" />
        </NavbarBrand>
        <NavbarToggler on:click={() => (isOpen = !isOpen)} />
        <Collapse {isOpen} navbar expand="md" on:update={handleUpdate}>
            <Nav class="mr-auto" navbar>
                <NavItem>
                    <NavLink href={$url('/pesan-tiket')}>Pesan Tiket</NavLink>
                </NavItem>
                {#if $store?.token?.data}
                    <NavItem>
                        <NavLink href={$url('/pesanan-saya/belum-bayar')}>
                            Pesanan Saya
                        </NavLink>
                    </NavItem>
                {/if}
            </Nav>
            <Nav class="ml-auto" navbar>
                {#if $store != null}
                    <NavItem>
                        <NavLink on:click={() => logout()} href="">
                            Keluar
                        </NavLink>
                    </NavItem>
                    <NavItem>
                        <NavLink href={$url('/profil')}>{ $userData.name}</NavLink>
                    </NavItem>
                {:else}
                    <NavItem>
                        <NavLink href={$url('/login')}>Masuk</NavLink>
                    </NavItem>
                    <NavItem>
                        <NavLink href={$url('/register')}>Daftar</NavLink>
                    </NavItem>
                {/if}
            </Nav>
        </Collapse>
    </Navbar>
    <!-- <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/logo-eka.png" alt="Eka Jaya" height="50" />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" />
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href={$url('/pesan-tiket')}>Pesan Tiket</a>
                </li>
                {#if $store?.token?.data}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pesanan Saya</a>
                    </li>
                {/if}
            </ul>
            <ul class="navbar-nav">
                {#if $store != null}
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href=""
                            on:click={() => logout()}>Logout</a>
                    </li>
                {:else}
                    <li class="nav-item">
                        <a class="nav-link" href={$url('/login')}>Masuk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={$url('/register')}>Daftar</a>
                    </li>
                {/if}
            </ul>
        </div>
    </nav> -->
</header>
